body {
  margin-left: 220px;
  width: 500px;
  height: 500px;
}
h1 {
  position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
#resultColor {
  background-color: rgb(0, 0, 0);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 500px;
  height: 500px;
  border-color: black;
  border-style: solid;
}
.slider {
  background-color: dimgray;
  margin-top: 10px;
}
